@font-face {
	font-family: "LT Superior";
	src: url("assets/LTSuperior-Medium.otf") format("opentype");
}

@font-face {
	font-family: "Terminus";
	src: url("assets/TerminusTTF-4.49.3.ttf") format("truetype");
}

body {
	display: flex;
	flex-direction: row;
}

#editor {
	flex-grow: 1;
	height: 100vh;
}

#target {
	flex-grow: 0;
	height: 100vh;
}
